BBS_BLL\bin\Debug\BLL.dll
BBS_BLL\bin\Debug\BLL.pdb
BBS_BLL\bin\Debug\Common.dll
BBS_BLL\bin\Debug\Common.pdb
BBS_BLL\bin\Debug\DAL.dll
BBS_BLL\bin\Debug\DAL.pdb
BBS_BLL\bin\Debug\Model.dll
BBS_BLL\bin\Debug\Model.pdb
BBS_BLL\obj\Debug\BLL.dll
BBS_BLL\obj\Debug\BLL.pdb
BBS_BLL\obj\Debug\ResolveAssemblyReference.cache
BBS_DAL\bin\Debug\Common.dll
BBS_DAL\bin\Debug\Common.pdb
BBS_DAL\bin\Debug\DAL.dll
BBS_DAL\bin\Debug\DAL.pdb
BBS_DAL\bin\Debug\Model.dll
BBS_DAL\bin\Debug\Model.pdb
BBS_DAL\obj\Debug\DAL.dll
BBS_DAL\obj\Debug\DAL.pdb
BBS_DAL\obj\Debug\ResolveAssemblyReference.cache
BSS_Common\bin\Debug\Common.dll
BSS_Common\bin\Debug\Common.pdb
BSS_Common\obj\Debug\Common.dll
BSS_Common\obj\Debug\Common.pdb
BSS_Model\bin\Debug\Model.dll
BSS_Model\bin\Debug\Model.pdb
BSS_Model\obj\Debug\Model.dll
BSS_Model\obj\Debug\Model.pdb
EntLibForum\bin\BLL.dll
EntLibForum\bin\BLL.pdb
EntLibForum\bin\Common.dll
EntLibForum\bin\Common.pdb
EntLibForum\bin\DAL.dll
EntLibForum\bin\DAL.pdb
EntLibForum\bin\Model.dll
EntLibForum\bin\Model.pdb
EntLibForum\bin\yaf.dll
EntLibForum\bin\yaf.pdb
EntLibForum\obj\Debug\ResolveAssemblyReference.cache
EntLibForum\obj\Debug\yaf.dll
EntLibForum\obj\Debug\yaf.pdb